<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <div class="page-wrapper">
        {{>header}}
        <br><br><br><br><br><br><br>
        <main class="main about">
            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-4">
                    <ol class="breadcrumb">
                    </ol>
                </nav>

                <div class="intro-section">
                    <h4>The New Way to
                        <span class="wort-rotator" data-plugin-options='{ "delay": 3000 }'>
                            <span class="wort-rotator-items">
                                <span>success.</span>
                                <span>progress.</span>
                                <span>advance.</span>
                            </span>
                        </span>
                    </h4>

                    <div class="row">
                        <div class="col-md-12 col-lg-10 col-12">
                            <p>Here at Watchstore, our goal and mission is to be the most trusted marketplace for
                                watches online.
                                We’re here to help you find and buy the perfect luxury watch that you’ve been looking
                                for. We do our part by purchasing luxury watches directly from all around the world to
                                provide you with the lowest cost, but still best quality of watches for all of our
                                customers.

                                We carry a variety of prestigious watch brands ranging from Rolex, Cartier, Tudor, TAG
                                Heuer, Audemars Piguet, Patek Philippe and many more.

                                Please feel free to talk to us about any specific watch brand or model that you’re
                                searching for and we will do our best to assist you.</p>
                        </div>
                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <div class="section-2">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <h4 class="about-section-title">Who We Are</h4>


                            <p><span id="W_Name2">Watch Store</span> is a Professional <span
                                    id="W_Type1">E-commerce</span> Platform. Here we will provide you only interesting
                                content, which you will like very much. We're dedicated to providing you the best of
                                <span id="W_Type2">E-commerce</span>, with a focus on dependability and <span
                                    id="W_Spec">Selling Fashion Watches</span>. We're working to turn our passion for
                                <span id="W_Type3">E-commerce</span> into a booming online website.
                                We hope you enjoy our <span id="W_Type4">E-commerce</span> as much as we enjoy offering
                                them to you.</p>
                            <p>All of our products are orignal from top companies with best discount deals in the
                                market.</p>
                            <p style="font-weight: bold; text-align: center;">To get in touch please contact us through
                                email. Thanks<br><br>
                        </div>

                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <div class="history-section">
                    <h4 class="about-section-title">Our History</h4>

                    <div class="history">
                        <figure class="thumb d-none d-sm-block">
                            <img src="images/new_images/wtpics/about/office-1.jpg" width="145" height="145"
                                alt="Office Img" />
                        </figure>
                        <div class="featured-box">
                            <div class="box-content">
                                <h4 class="heading-primary"><strong>2021</strong></h4>
                                <p>In 1886, Rado revolutionized watchmaking with its scratch-resistant DiaStar.
                                    Incorporating the bold and ageless appeal of the first DiaStar, the Original bears
                                    the features and functions Rado enthusiasts know and the distinctive look they love.
                                    With a quality Swiss automatic movement at its heart it is, quite simply, a Rado
                                    legend.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="history">
                        <figure class="thumb d-none d-sm-block">
                            <img src="images/new_images/wtpics/about/office-2.jpg" width="145" height="145"
                                alt="Office Img" />
                        </figure>
                        <div class="featured-box">
                            <div class="box-content">
                                <h4 class="heading-primary"><strong>2020</strong></h4>
                                <p>In 1940, Rado revolutionized watchmaking with its scratch-resistant DiaStar.
                                    Incorporating the bold and ageless appeal of the first DiaStar, the Original bears
                                    the features and functions Rado enthusiasts know and the distinctive look they love.
                                    With a quality Swiss automatic movement at its heart it is, quite simply, a Rado
                                    legend.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="history">
                        <figure class="thumb d-none d-sm-block">
                            <img src="images/new_images/wtpics/about/office-3.jpg" width="145" height="145"
                                alt="Office Img" />
                        </figure>
                        <div class="featured-box">
                            <div class="box-content">
                                <h4 class="heading-primary"><strong>2019</strong></h4>
                                <p>In 1962, Rado revolutionized watchmaking with its scratch-resistant DiaStar.
                                    Incorporating the bold and ageless appeal of the first DiaStar, the Original bears
                                    the features and functions Rado enthusiasts know and the distinctive look they love.
                                    With a quality Swiss automatic movement at its heart it is, quite simply, a Rado
                                    legend.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="history">
                        <figure class="thumb d-none d-sm-block">
                            <img src="images/new_images/wtpics/about/office-4.jpg" width="145" height="145"
                                alt="Office Img" />
                        </figure>
                        <div class="featured-box">
                            <div class="box-content">
                                <h4 class="heading-primary"><strong>2018</strong></h4>
                                <p>In 1975, Rado revolutionized watchmaking with its scratch-resistant DiaStar.
                                    Incorporating the bold and ageless appeal of the first DiaStar, the Original bears
                                    the features and functions Rado enthusiasts know and the distinctive look they love.
                                    With a quality Swiss automatic movement at its heart it is, quite simply, a Rado
                                    legend.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .container -->
        </main><!-- End .main -->


        {{>footer}}
    </div>
    <!-- End .page-wrapper -->
    {{>scripts}}
</body>


</html>