<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <div class="page-wrapper">
        {{>header}}
        <main class="main" style="margin-top: 140px;">
            <div class="page-header">
                <div class="container d-flex flex-column align-items-center">
                    <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    </nav>
                    <h1 style="color: black;">My Account</h1>
                </div>
            </div>

            <div class="container login-container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="heading mb-1">
                                    <h2 class="title">Login</h2>
                                </div>

                                <form action="/login" method="post">
                                    <label for="login-email">
                                        Email address
                                        <span class="required">*</span>
                                    </label>
                                    <input type="email" class="form-input form-wide" id="login-email" name="email"
                                        required />

                                    <label for="login-password">
                                        Password
                                        <span class="required">*</span>
                                    </label>
                                    <input type="password" class="form-input form-wide" id="login-password"
                                        name="password" required />

                                    <div class="form-footer">
                                        <a href="/forgotPassword" class="forget-password text-dark form-footer-left">Forgot Password?</a>
                                        <a href="/verify" class="forget-password text-dark form-footer-right">Verify Email?</a>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-md w-100">
                                        LOGIN
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="heading mb-1">
                                    <h2 class="title">Register</h2>
                                </div>

                                <form action="/user/signUpUser" method="post">
                                    <label for="register-fullName">
                                        Name
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" class="form-input form-wide" id="register-fullName"
                                        name="fullName" required />

                                    <label for="register-email">
                                        Email address
                                        <span class="required">*</span>
                                    </label>
                                    <input type="email" class="form-input form-wide" id="register-email" name="email" 
                                    required />

                                    <label for="password">
                                        Password
                                        <span class="required">*</span>
                                    </label>
                                    <input type="password" class="form-input form-wide" id="register-password"
                                        name="password" minlength="8" required />

                                    <label for="password2">
                                        Confirm Password
                                        <span class="required">*</span>
                                    </label>
                                    <input type="password" class="form-input form-wide" id="register-Cpassword"
                                        name="password2" minlength="8" required />

                                    <div class="form-footer mb-2">
                                        <button type="submit" class="btn btn-dark btn-md w-100 mr-0">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><!-- End .main -->


        {{>footer}}
    </div>
    <!-- End .page-wrapper -->
    {{>scripts}}
</body>


</html>