<header class="header">
    <!-- Navebar 1 -->
    <div class="header-top bg-dark text-white">
        <div class="container justify-content-center">
            <div class="header-left">
                <h5 class="top-notice mb-0 pl-0">Get 10% OFF at our Fashion Selection - <a href="/shop">Shop
                        Now!</a></h5>
            </div>
            <!-- End .header-left-->

            <div class="header-right d-none d-sm-flex">
                <nav class="main-nav w-100 d-xl-block d-none">
                    <ul class="menu sf-arrows d-flex align-items-center no-superfish">
                        <li class="no-subMenu">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul">Categories</a>
                            <div class="megamenu megamenu-fixed-width megamenu-3cols">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="/shop.men" style="color: black;">
                                            MEN'S WATCH</a>
                                        <ul class="submenu">
                                            <li><a href="/shop.men.classic">CLASSIC WATCH</a></li>
                                            <li><a href="/shop.men.fashion">FASHION WATCH</a>
                                            </li>
                                            <li><a href="/shop.men.luxury">LUXURY WATCH</a>
                                            </li>
                                            <li><a href="/shop.men.sports">SPORTS WATCH</a></li>
                                            <li><a href="/shop.men.casual">CASUAL WATCH</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="/shop.women" style="color: black;">
                                            WOMEN'S WATCH</a>
                                        <ul class="submenu">
                                            <li><a href="/shop.women.classic">CLASSIC WATCH</a> </li>
                                            <li><a href="/shop.women.fashion">FASHION WATCH</a></li>
                                            <li><a href="/shop.women.luxury">LUXURY WATCH</a></li>
                                            <li><a href="/shop.women.casual">CASUAL WATCH</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 p-0">
                                        <figure>
                                            <img src="images/menu-banner.jpg" alt="Menu banner">
                                        </figure>
                                        <a href="/shop" class="btn btn-sm btn-dark">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End .megamenu -->

                        </li>

                        <li><a href="/shop" class="no-subMenu">Products</a></li>

                        <li><a href="/about" class="no-subMenu">About Us</a></li>

                        <li><a href="/contact" class="no-subMenu">Contact Us</a></li>

                    </ul>
                </nav>
            </div>
            <!-- End .header-right-->
        </div>
        <!-- End .container -->


        <div class="header-transparent" style="background-color: dimgray;">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">

                        <a href="/" class="logo">
                            <img src="images/logo-white.png" alt="Logo">
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right">
                        <!-- Search Bar -->
                        <div
                            class="header-icon header-search header-search-inline header-search-category d-none d-sm-block border-left-0 mb-0">
                            <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
                            <form action="/searchProductsResults" method="post">
                                <div class="header-search-wrapper">
                                    <input type="text" class="form-control bg-transparent" name="searchValue" id="searchValue"
                                        placeholder="Search Products..." required="">
                                    <button class="btn icon-magnifier bg-transparent border-left-0"
                                        type="submit"></button>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>

                        <a href="/login" class="header-icon header-icon-user"><i class="icon-user-2"></i></a>

                        <a href="/wishlist" class="header-icon"><i class="icon-wishlist-2"></i></a>
                        <a href="/cart" class="header-icon"><i class="minicart-icon"></i></a>
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->

        </div>
</header>
<!-- End .header -->